.mySwiper {
  width: 100%;
  flex: 1
}

.swiper-button-next {
  right: 45px;
}

.swiper-button-prev {
  left: 45px;
}

.swiper-button-next:after,  .swiper-button-prev:after{
  color: #FFBA08;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background: #999 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #FFBA08 !important;
}

@media (max-width:30em) {
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev {
    left: 15px !important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size:1.2rem !important;
  }

  .swiper-pagination-bullet{
    width:8px !important;
    height:8px !important;
  }
}


